.background {
    background-image: url('../assets/tile.png');
    width: 100%;
    height: 100vh;
    background-size: 20%;
    position: absolute;
    animation: moveBackground 50s linear infinite;
    z-index: 0;
}

@keyframes moveBackground {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 100%;
    }
  }