<div class="advent-of-code-container">
    <div class="heading-container">
        <p class="heading">Advent of Code 2023 by Pavilion Sahota</p>
    </div>
    <div class="day-container">
        <p class="day-heading">Day 1</p>
        <p class="day-message">Part 1: {{day1Part1Answer}}</p>
        <p class="day-message">Part 2: {{day1Part2Answer}}</p>
    </div>
    <div class="day-container">
        <p class="day-heading">Day 2</p>
        <p class="day-message">Part 1: {{day2Part1Answer}}</p>
        <p class="day-message">Part 2: {{day2Part2Answer}}</p>
    </div>
    <div class="day-container">
        <p class="day-heading">Day 3 - IN PROGRESS</p>
        <p class="day-message">Part 1: {{day3Part1Answer}} // TODO: fix this then do part 2</p>
        <!-- <p class="day-message">Part 2: {{day3Part2Answer}}</p> -->
    </div>
    <div class="day-container">
        <p class="day-heading">Day 4</p>
        <p class="day-message">Part 1: {{day4Part1Answer}}</p>
        <p class="day-message">Part 2: {{day4Part2Answer}}</p>
    </div>
    <div class="day-container">
        <p class="day-heading">Day 5</p>
        <p class="day-message">Part 1: {{day5Part1Answer}}</p>
        <p class="day-message">Part 2: {{day5Part2Answer}}</p>
        <button class="day-button" (click)="getDay5()">Process</button>
    </div>
    <div class="day-container">
        <p class="day-heading">Day 6</p>
        <p class="day-message">Part 1: {{day6Part1Answer}}</p>
        <p class="day-message">Part 2: {{day6Part2Answer}}</p>
    </div>
    <div class="day-container">
        <p class="day-heading">Day 7</p>
        <p class="day-message">Part 1: {{day7Part1Answer}}</p>
        <p class="day-message">Part 2: {{day7Part2Answer}}</p>
    </div>
</div>