<div class="advent-of-code-container">
    <div class="heading-container">
        <p class="heading">Advent of Code 2023 by Pavilion Sahota</p>
    </div>
    <div class="day-container">
        <p class="day-heading">Day 1</p>
        <p class="day-message">Part 1: {{day1Part1Answer}}</p>
        <p class="day-message">Part 2: {{day1Part2Answer}}</p>
    </div>
    <div class="day-container">
        <p class="day-heading">Day 2</p>
        <p class="day-message">Part 1: {{day2Part1Answer}}</p>
        <p class="day-message">Part 2: {{day2Part2Answer}}</p>
    </div>
    <div class="day-container">
        <p class="day-heading">Day 3</p>
        <p class="day-message">Part 1: {{day3Part1Answer}}</p>
        <!-- <p class="day-message">Part 2: {{day3Part2Answer}}</p> -->
    </div>
</div>